* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: rgb(177, 207, 203) rgb(255, 234, 252);

}

a {
    color: rgb(75, 0, 12)
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: url('../assets/redo.png') 0 0, auto;
}
 
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4; 
  z-index: -1;
  border: 5px dashed rgb(255, 94, 120);
}

::selection {
  background: hsl(209, 100%, 92%);
  color: #330000;
}

::-moz-selection {
  background: hsl(335, 97%, 86%);
  color: #330000;
}

.logo {
  position: absolute;
  top: -72px;
  left: -60px;
  width: 150px; 
  height: auto;  
}

.logob {
  position: absolute;
  top: -90px;
  left: -120px;
  width: 200px; 
  height: auto;  
  z-index: 6;
}

.logo3 {
  position: absolute;
  top: -140px;
  right: -95px;
  width: 250px; 
  height: auto;
  z-index: 5;   
}

.pearls {
  position: absolute;
  margin-top: 8px;
  left: 250px;
  width: 250px; 
  z-index: 1;    
}

.bouquet {
  position: absolute;
  top: -94px;
  left: 3vw;
  width: 300px; 
  z-index: 3;   
}

.lily {
  position: absolute;
  top: 60px;
  right: 1vw;
  width: 200px; 
  z-index: 5;   
  filter: drop-shadow(0 0 10px rgb(204, 200, 255));
}

.navpearls {
  position: absolute;
  top: 90px;
  right: -86px;
  width: 250px; 
  height: auto;
  z-index: 4;   
  filter: drop-shadow(0 0 10px rgb(42, 39, 78));
}

.navborder {
  height: 900px;
  width: 10%;
  left: 215px;
  position: absolute;
  border-image: url('/assets/cloth.png') 100 round; 
  border-width: 25px;
  border-style: solid;
  border-image-outset: 20px;
  z-index: 2;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;

  background-color: rgba(27, 63, 101, 0.175);
  border-radius: 9px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: 
    linear-gradient(#90accddc, rgba(181, 246, 255, 0.3)),
    url('/assets/retry.png');
  background-size: contain;
  background-position: center;
  border: dashed rgb(223, 233, 255) 3px;
}

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 67%;
  font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgb(121, 97, 111);
    width: 70%;
    height: 900px;
    margin: 150px auto;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    color: rgb(75, 0, 12);
    font-size: 16px;
    line-height: 1.6;
    outline: 3px dashed rgb(228, 230, 255);
    outline-offset: 1px; 
    border-image: url('/assets/bor3.png') 70 round;
    border-width: 65px;
    border-style: solid;
    border-image-outset: 57px;
    overflow: visible;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.01);
}

.nav {
  width: 250px;
  position: absolute;
  top: -65px;
  bottom: -65px;
  left: -65px;
  background-color: rgba(173, 216, 255, 0.6);
  border-image: url(https://angelovin.neocities.org/img/lace.png) 30 round; 
  border-width: 25px;
  border-style: solid;
  border-image-outset: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.buttonstyle {
  background: linear-gradient(to bottom, rgba(242, 240, 255, 0.985), rgba(155, 170, 189, 0.829), rgba(255, 255, 255, 0.416));
  color: rgba(20, 3, 255, 0.708);
  text-decoration: underline;
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 5px;
  text-shadow: 0 0 2px #c0c5e6;
  box-shadow: 0 0 12px #1d244bb0, inset 0 0 8px #ffffff;
  transition: all 0.3s ease;
}
.buttonstyle:hover {
  background: linear-gradient(to bottom, rgba(242, 240, 255, 0.985), rgba(155, 170, 189, 0.829), rgba(255, 255, 255, 0.416));
  color: #e9f8ff;
  box-shadow: 0 0 12px #1d244bb0, inset 0 0 8px #ffffff;
  transform: scale(1.07) rotate(-1.5deg);
}

.pixelroses {
   position: absolute;
  top: 330px;
  right: 1vw;
  width: 180px; 
  height: auto;
  z-index: 5;   
  filter: drop-shadow(0 0 10px rgb(248, 247, 255));
}

.waterbg {
  position: absolute;
  top: -65px;
  right: -65px;
  width: 60vw;
  height: 900px;
  background: linear-gradient(to bottom, rgba(221, 233, 255, 0.35), rgba(255, 248, 252, 0), rgba(193, 180, 189, 0.416));
}
